<h1>Minhas Listas</h1>

<%= link_to "Nova Lista", new_list_path %>

<ul>
  <% @lists.each do |list| %>

    <li>

      <h4><%= list.title %> </h4> 
      <%= link_to "Editar", list_path(list) %> |
      <%= link_to "Deletar", list_path(list), method: :delete, data: { confirm: "Tem certeza?" } %>

      </li>


  <% end %>
</ul>
